<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Total score:</strong>
  <%= @user.total_score %>
</p>

<p>
  <strong>Login streak:</strong>
  <%= @user.login_streak %>
</p>

<p>
  <strong>Last login date:</strong>
  <%= @user.last_login_date %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary" %>
<%= link_to 'Back', users_path, class:"btn btn-secondary" %>
